body{
    background-color: rgb(255, 132, 0);
}

.menu{
    list-style: none;
    margin: 0;
    background: #092327;
    max-width: auto;
    
}

li{
    display: inline-block;
    font-size: 25px;

}
.menu li a{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    display: block;
}
h5{
    font-style: italic;
    color: blue;
}
.carrusel{
    height: 10%;
}